* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Oswald', sans-serif;
}

html, .smooth-scroll {
  scroll-behavior: smooth;
}

body {
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.margin-top1 {
  margin-top: 1em;
}

.margin-top2 {
  margin-top: 2em;
}

.margin-top08 {
  margin-top: .8em;
}

.margin-bottom2 {
  margin-bottom: 2em;
}

.margin-bottom1 {
  margin-bottom: 1em;
}

.margin-bottom08 {
  margin-bottom: .08em;
}

.padding-bottom1 {
  padding-bottom: 1em;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/********************************************************************     XXXpx-400px */
/************************************************      NAV-CONTAINER */

/************************************************      BANNER */
.banner {
  width: 100vw;
  height: 60vh;
  max-height: 800px;
  background-color: #000;
}

.banner-container {
  width: 100%;
  height: 100%;
}

.banner-img-container {
  width: 100%;
  height: 100%;
  /*background-color: blueviolet;*/
}

/*.banner-spacer {
  width: 100%;
  height: 8vh;
  min-height: 80px;
  background-color: aquamarine;
}*/

.banner-logo {
  width: 66%;
  height: 60vh;
  position: absolute;
  z-index: 10;
  /*background-color: bisque;*/
}

.banner-logo img {
  width: 100%;
  max-width: 250px;
  height: auto;
  background-color: rgba(95, 158, 160, 0.452);
}

.banner-img {
  background-image: url('images/banner_background.png');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
  /*padding-bottom: 15px;*/
  }

.banner-img img {
  width: auto;
  height: 66%;
  /*margin-top: 15%;*/
  z-index: 1;
}
/************************************************      END BANNER */




